<main class="bg-cream text-white container mx-auto flex flex-col font-base">
  <div style="background: url(/assets/img/bg-artlife.png)  no-repeat; background-size:cover">
      <header class="flex justify-between items-center px-4 md:px-8 py-2">
          <a href="" class="">
            <img src='../assets/img/logo.svg' class="w-10 h-10" alt="Logo">
          </a>
          <nav class="hidden md:flex header-nav justify-between w-full sm:text-xs">
            <ul class="flex ">
              <li class="m-5">Наши работы</li>
              <li class="m-5">О нас</li>
              <li class="m-5">Каталог</li>
              <li class="m-5">Рассчитать стоимость</li>
            </ul>
            <ul class="flex">
              <li class="m-5">8 908 312 95 00</li>
              <li class="m-5">{{mail}}</li>
              <li class="m-5">Пн - Пт 8:00 - 19:00</li>
            </ul>
          </nav>
        <button class="inline-block md:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </header>
      <div class="first-page px-4 py-40 md:px-8">
        <h2 class="text-2xl lg:text-4xl 2xl:text-5xl w-64 lg:w-96 xl:w-120 text-cream" style="
              -webkit-text-stroke-width: 0.75px;
              -webkit-text-stroke-color: #B8B8AA;">
              Создаем уют с любовью  к деталям</h2>
        <p>При заявке с сайта  10% скидка каждому покупателю</p>
        <p>До конца скидки осталось:</p>
          <div class="counter flex">
            <div class="bg m-2 items-center">
              <div class="numBg">
                <p>2</p>
              </div>
              <p>Дни</p>
            </div>
            <div class="bg m-2 items-center">
              <div class="numBg">
                <p>5</p>
              </div>
              <p>Часы</p>
            </div>
            <div class="bg m-2 items-center">
              <div class="numBg">
                <p>30</p>
              </div>
              <p>Мин</p>
            </div>
            <div class="bg m-2 items-center">
              <div class="numBg">
                <p>59</p>
              </div>
              <p>Сек</p>
            </div>
          </div>
        <div class="flex flex-col items-center ">
            <input type="text" placeholder="Введите номер телефона" class="w-64">
            <button type="submit" class="">Получить скидку</button>
        </div>
      </div>
    </div>


  <section>
  <div class="container">
    <h2>Примеры работ</h2>
    <p>Вдохновляйтесь нашими готовыми дизайнами или создайте свой собственный уникальный дизайн.</p>
    <div class="carousel"></div>
  </div>
  </section>

  <section>
    <div class="container">
      <h2>Почему более 14 лет клиенты выбирают нас:</h2>
      <ul>
        <li>
          <img src="" alt="">
          <p>Европейское качество</p>
        </li>
        <li>
          <img src="" alt="">
          <p>Акции, скидки, бонусы</p>
        </li>
        <li>
          <img src="" alt="">
          <p>Оперативные сроки</p>
        </li>
        <li>
          <img src="" alt="">
          <p>Заводские цены</p>
        </li>
      </ul>
      <p>Новым клиентам скидка 10 %</p>
    </div>
  </section>

  <section>
    <div class="container">
        <h2>Каталог</h2>
        <div class="catalog-container">
          <div class="">
            <p>Гостинная</p>
            <img src="" alt="">
          </div>
          <div class="">
            <p>Шкафы купе</p>
            <img src="" alt="">
          </div>
          <div class="">
            <p>Кухня</p>
            <img src="" alt="">
          </div>
        </div>
    </div>
  </section>

  <section>
    <div class="container">
        <h2>О нас</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </section>

  <section>
    <div class="container">
      <img src="" alt="">
      <h2>Узнайте стоимость мебели</h2>
      <p>Ответьте на вопросы, получите скидку и бесплатный дизайн проект</p>
      <button>Рассчитать стоимость</button>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Примеры работ</h2>
      <p>Вдохновляйтесь нашими готовыми дизайнами или создайте свой собственный уникальный дизайн.</p>
        <div class="carousel-vertical">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Акции</h2>
      <p>Узнавайте первым об акциях и скидках</p>
      <label for=""></label>
      <input id="" type="text" placeholder="введите номер телефона или email">
      <button type="submit">Подписаться</button>
    </div>
  </section>

  <section>
    <div class="container">
        <h2>Производство</h2>
      <div class="">
        <p>Наши сотрудники - квалифицированные профессионалы</p>
        <p>Любые размеры, цвет, дизайн и фурнитура</p>
        <p>Установка в удобные для Вас день и время</p>
        <p>Сроки изготовления 5-15 дней</p>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Заказать выезд замерщика</h2>
      <p>Бесплатный выезд замерщика с демонстрацией материала. Доверьте нам всю работу от дизайна до сборки и установки.</p>
      <label for=""></label>
      <input id="" type="text" placeholder="Ваше имя">
      <label for=""></label>
      <input id="" type="text" placeholder="Номер телефона">
      <button type="submit">Отправить</button>
    </div>
  </section>

  <section>
    <div class="container">
        <h2>Отзывы</h2>
        <div class="feedback">
          <h4>prlxlr13</h4>
          <p>Хочу выразить свою благодарность всему коллективу компании, консультанту, замерщику и монтажникам. Ребята, которые устанавливали кухню, порадовали своей работой, все чисто, аккуратно и быстро. Нареканий по кухне нет, новая кухня – всегда радость для хозяйки!</p>

        </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="map">

      </div>
    </div>
  </section>


  <router-outlet></router-outlet>
</main>
<footer>

</footer>
